/* header */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2C3E50;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}

nav ul li a:hover{
    color: #DC7633;
}

.cta{
    background-color: #DC7633;
    color: #FFF;
}

.cta:hover{
    background-color: #D35400;
    color: #FFF;
}

/* body */

.contact_us {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}
  
form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
  
h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
  
label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
  
input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #eee;
    font-size: 1.1rem;
}
  
input[type="submit"] {
    background: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
input[type="submit"]:hover {
    background-color: #3e8e41;
}

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fcfcfc;
}
