/* header */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2C3E50;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}

nav ul li a:hover{
    color: #DC7633;
}

.cta{
    background-color: #DC7633;
    color: #FFF;
}

.cta:hover{
    background-color: #D35400;
    color: #FFF;
}

/* body */

.container {
    max-width: 600px;
    margin: 1rem;
    margin-top: 100px;
    margin-left: 550px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

h1 {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

form {
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#result {
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    display: none;
    color: #007bff;
    font-weight: bold;
    text-align: center;
}

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fcfcfc;
}
