/* header */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2C3E50;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}

nav ul li a:hover{
    color: #DC7633;
}

.cta{
    background-color: #DC7633;
    color: #FFF;
}

.cta:hover{
    background-color: #D35400;
    color: #FFF;
}

/* body */

.hero {
    margin-top: 40px;
    text-align: center;
}

.services {
    padding: 40px;
    background-color: #f9f9f9;
}

.services h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    display: block;
    margin: auto;
    height: 250px;
    margin-bottom: 10px;
}

.card h3 {
    text-align: center;
    margin-bottom: 10px;
}

.card p {
    text-align: justify;
}

.contact {
    padding: 40px;
    background-color: #f9f9f9;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

form textarea {
    height: 100px;
}

form button[type="submit"] {
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

form button[type="submit"]:hover {
    background-color: #666;
}

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fcfcfc;
}
